@charset "utf-8";

/* 포트폴리오 */
.bogal_bgBox {background: linear-gradient(#f6faff, #fff);margin-top: 120px;padding-top: 100px;}
.bogal_list > ul {display: flex;flex-wrap: wrap;margin: 0 -32px;}
.bogal_list > ul > li {width: calc((100% - 192px) / 3);margin: 32px;transition: all 0.5s ease;}
.bogal_list > ul > li .img_box {height:280px;overflow: hidden;box-shadow: 4px 4px 24px 5px rgb(0, 0, 0, 0.06);position: relative;}
.bogal_list > ul > li .txt_box {text-align: center;padding-top:1.25rem;font-size: 1.188rem;}
.bogal_list > ul > li .h_udl{position: relative;display: inline-block;transition: all .3s ease-in-out;}
.bogal_list > ul > li .h_udl::after {position: absolute;left: 50%;bottom: -3px;content: '';width: 0;height: 2px;background-color: #1a72e7;transition: all .3s ease-in-out;-webkit-transform: translateX(-50%);transform: translateX(-50%)}
.bogal_list > ul > li a:hover .h_udl::after {width: 100%;}
.bogal_list > ul > li a:hover .img_box img {transition: all .3s ease-in-out;}
.bogal_list > ul > li a:hover .img_box img {filter: brightness(.5);}
.bogal_list > ul > li .h_op {color: #fff;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);transition: .3s ease-in-out;font-size: 0;}
.bogal_list > ul > li a:hover .h_op {font-size: 1.25rem;}
/* .bogal_list > ul > li a:hover .h_udl {color: #1a72e7;} */