@charset "utf-8";
@import url("font.css");
/* reset */
html {width:100%;}
body {margin:0; padding:0; background:#fff; overflow-y:scroll; height:100%; width:100%;	word-break:keep-all;}
body {font-family:"Esamanru", "맑은고딕","Malgun Gothic", "AppleGothicNeoSD", "Apple SD 산돌고딕 Neo", "sans-serif"; -webkit-font-smoothing: antialiased; font-size:16px; font-weight:300; letter-spacing:-0.5px; color:#121212; line-height:1.5;}
* {color:inherit; font-family:inherit; font-size:inherit; font-weight:inherit; letter-spacing:inherit; line-height:inherit;box-sizing: border-box;}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display:block;}
b,strong {font-weight:600}
h1,h2,h3,h4,h5,h6,p,form,span {margin:0; padding:0; font-weight:300;}
div,table {margin:0; padding:0; border-spacing:0; border-collapse:collapse; border:0px none;}
ul,ol,li,td,dl,dt,dd {margin:0; padding:0;list-style:none;}
em,i {font-style:normal;}
u {text-decoration:none;}
a,span {display:inline-block;}
img {border:0;max-width:100%;vertical-align:top}
address, caption, pre, em, i {font-style:normal;}

table{width:100%;border-collapse:collapse;border-spacing:0;}
table caption,legend{height:0;width:0;overflow:hidden;font-size:0;}
table, caption, tbody, tfoot, thead, tr, th, td {background:transparent;font-size:100%;}
th,td{vertical-align:middle}

blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";content:none;}
hr{ width:100%; height:1px; background-color:#ddd; margin:20px 0px; border:0px;}

/* 링크속성 */
a{color:#333;text-decoration:none;}
a:hover,a:focus{color:#34586e}
a:focus{color:#34586e;}
a:link, a:visited {color:inherit; text-decoration:none; cursor:pointer;}

/* form */
input, select, textarea, button {color:#121212; vertical-align:middle;padding:8px;border:1px solid #ccc;box-sizing:border-box;height:45px;border-radius:4px;}
input::-ms-clear {display: none}
input {-webkit-appearance: none;} /*아이폰 버튼스타일 제거*/
input[type='checkbox']{-webkit-appearance:checkbox}
input[type='radio']{-webkit-appearance:radio;vertical-align:top}
textarea {resize:none;border-radius:4px;}
select {border-radius:4px;}
select {padding:10px 24px 10px 14px;-webkit-padding-end:30px;-moz-padding-end:30px;background:url('../images/select_arrow.png') no-repeat right 16px center #fff;-webkit-appearance:none;-moz-appearance:none;cursor:pointer;min-width:110px;}
select::-ms-expand {display: none;}
textarea {resize:none;}
button, label,input[type='submit'],input[type='button'] {cursor:pointer;}
fieldset{border:none;margin:0;padding:0}
input:read-only{background:#fafafa;color:#111;}

.radio{position:relative;vertical-align: middle;}
.radio label{position:relative;display:inline-block;min-height:20px;line-height:1.4;margin:0;padding-left:26px;color:#666;}
.radio input {position:absolute; width:100%; height:20px; padding:0; opacity:0; border:none; margin:0; z-index:10; background:none; appearance:none; -webkit-appearance:none;cursor:pointer;}
.radio input[type="radio"] + label:before{content:'';position:absolute;top:0px;left:0;display:inline-block; width:20px; height:20px; margin-right:2px;border:1px solid #333;background:#fff; cursor:pointer;vertical-align:middle;border-radius:50%;border:6px solid #ddd;    box-sizing: border-box;}
.radio input[type="radio"]:checked + label:before{border:6px solid #3e95ef;}
.radio input[type="radio"]:focus + label{border:1px dotted #3e95ef;}
.radio input[type="radio"]:checked + label,.chkbox input[type="checkbox"]:checked + label{color:#3e95ef}
.radio + .radio,.chkbox + .chkbox{margin-left:8px;}

.chkbox{position:relative}
.chkbox label{position:relative;display:inline-block;min-height:24px;line-height:1.4;margin:0;padding-left:28px;color:#666;cursor:pointer;}
.chkbox input {position:absolute; width:20px; height:20px; padding:0; opacity:0; border:none; margin:0; z-index:10; background:none; appearance:none; -webkit-appearance:none;}
.chkbox input[type="checkbox"] + label:before{content:'';position:absolute;top:0px;left:0;display:inline-block; width:20px; height:20px; border:1px solid #ddd;background:url('../img/check_box.png') center center no-repeat #fafafa ;cursor:pointer;border-radius:4px;}
.chkbox input[type="checkbox"]:checked + label:before {background:url('../img/check_box_w.png') center center no-repeat #3e95ef;border-color:transparent}
.chkbox input[type="checkbox"]:checked + label{color:#3e95ef; }
.chkbox input[type="checkbox"]:focus + label{border:1px dotted #666}

/* 마우스 드래그 컬러 */
::selection {background:#0661ff; color:#fff; text-shadow: none;}
::-moz-selection {background:#0661ff; color:#fff; text-shadow: none;}
::-webkit-selection {background:#0661ff; color:#fff; text-shadow: none;}

/* 인풋 플레이스 홀더 */
input::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { color:#999;font-size:.875em}

/* Accessibility */
.sound_only,.blind{height:0;width:0;font-size:0;overflow:hidden;}
.hide{display:none}

/* skipNavi */
#skipNavi{position:absolute;top:-1px;background-color:#333;z-index:999}
#skipNavi a{position:absolute;top:0;left:0;padding:10px 25px;margin-top:-100px;text-align:center;line-height:1;white-space:nowrap;background:#000}
#skipNavi a:link{color:#333;}
#skipNavi a:focus{margin-top:0;text-decoration:underline;color:#fff}

/* 글자자름 (inline-block, block 형태로 가로폭 지정)*/
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ellipsis2{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.ellipsis3{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}

/* font - 태나다체 */
.typo{font-family:"Tenada", "sans-serif";}

/* 정렬 */
.p_r{position:relative}
.p_a{position:absolute}
.t_a_c{text-align:center }
.t_a_l{text-align:left }
.t_a_r{text-align:right}

.fr{float:right}
.fl{float:left }
.fn{float:none !important;}

.v_a_t {vertical-align:top }
.v_a_m {vertical-align:middle }
.v_a_b {vertical-align:bottom }
ul.ulfl > li{float:left}

.dp_ini{display:inline}
.dp_inb{display:inline-block}
.dp_blo{display:block}
.dp_flex{display:flex}

.f_v_c{align-items: center;}
.f_h_c{justify-content: center;}
.f_h_v{justify-content: space-between;}
.f_vh_c{justify-content: center;align-items: center;}

.clear{clear:both !important;}
.clearfix:after,ul.ulfl:after,#container:after {content:"";width:100%;display:block;visibility:hidden;clear:both;}

/* 폰트속성 */
.fn {font-weight:normal  !important;}
.fb1 {font-weight:300}
.fb2 {font-weight:400}
.fb3 {font-weight:700}

.f_s {font-size:0.875rem !important}
.f_l {font-size:1.25rem !important}

.img_text{font-size:0 !important}

.fw_1 {font-weight:300}
.fw_2 {font-weight:400}
.fw_3 {font-weight:500}
.fw_4 {font-weight:600}

/* Typography */
.h1{font-size:2.75rem;line-height:3.575rem;} /* 44px */
.h2{font-size:2.5rem;line-height:3.25rem;} /* 40px */
.h3{font-size:2.25rem;line-height:2.925rem;}/* 36px */
.h4{font-size:2rem;line-height:2.6rem;}/* 32px */
.h5{font-size:1.75rem;line-height:2.475rem;}/* 28px */
.h6{font-size:1.5rem;line-height:2.4rem;}/* 24px */

.stit_1{font-size:1.375rem;line-height:2rem;}/* 22px */
.stit_2{font-size:1.25rem;line-height:1.85rem;}/* 20px */
.stit_3{font-size:1.188rem;line-height:1.5rem;}/* 19px */

.body_1{font-size:1.125rem;line-height:1.8rem;}/* 18px */
.body_2{font-size:1.063rem;line-height:1.688rem;}/* 17px */
.body_3{font-size:1rem;line-height:1.5rem;}/* 16px */
.body_4{font-size:0.938rem;line-height:1.38rem;}/* 15px */
.body_5{font-size:0.875rem;line-height:1.313rem;}/* 14px */

.caption{font-size:0.813rem;line-height:1.313rem;}/* 13px */
.overline{font-size:0.75rem;line-height:1.125rem;}/* 12px */

/* box */
.round_box1{border-radius:4px;padding:8px;background:#fafafa;}
.round_box2{border-radius:8px;padding:16px;background:#fafafa;}
.round_box3{border-radius:8px;padding:24px;background:#fafafa;}
.round_box4{border-radius:8px;padding:32px;background:#fafafa;}
.round_box5{border-radius:8px;padding:40px;background:#fafafa;}

.radius_s{border-radius:5px;}
.radius_m{border-radius:7px;}
.radius_l{border-radius:13px;}
.radius_xl{border-radius:15px;}
.radius_xxl{border-radius:23px;}
.radius_100{border-radius:50%;}



/*------------------------------------*\
  width
\*------------------------------------*/
.w100p {width:100%;}
.w90p{width:90%}
.w80p{width:80%}
.w70p{width:70%}
.w60p{width:60%}
.w50p{width:50%}
.w49p{width:49%}
.w40p{width:40%}
.w30p{width:30%}
.w33p{width:33.3%}
.w25p{width:25%}
.w20p{width:20%}
.w15p{width:15%}
.w10p{width:10%}

/*------------------------------------*\
  margin/padding
\*------------------------------------*/
.mt0 {margin-top:0px !important;}
.mt4 {margin-top:0.25rem !important;}
.mt8 {margin-top:0.5rem !important;}
.mt16{margin-top:1rem !important;}
.mt20{margin-top:1.25rem !important;}
.mt24{margin-top:1.5rem !important;}
.mt30{margin-top:1.875rem !important;}
.mt32{margin-top:2rem !important;}
.mt36{margin-top:2.25rem !important;}
.mt40{margin-top:2.5rem !important;}
.mt44{margin-top:2.75rem !important;}
.mt120{margin-top:7.5rem !important;}

.mb0 {margin-bottom:0px !important;}
.mb4 {margin-bottom:0.25rem !important;}
.mb8 {margin-bottom:0.5rem !important;}
.mb16{margin-bottom:1rem !important;}
.mb20{margin-bottom:1.25rem !important;}
.mb24{margin-bottom:1.5rem !important;}
.mb32{margin-bottom:2rem !important;}
.mb36{margin-bottom:2.25rem !important;}
.mb40{margin-bottom:2.5rem !important;}
.mb44{margin-bottom:2.75rem !important;}

.mr0 {margin-right:0px !important;}
.mr4 {margin-right:0.25rem !important;}
.mr8 {margin-right:0.5rem !important;}
.mr16{margin-right:1rem !important;}
.mr20{margin-right:1.25rem !important;}

.ml0 {margin-left:0px !important;}
.ml4 {margin-left:0.25rem !important;}
.ml8 {margin-left:0.5rem !important;}
.ml16{margin-left:1rem !important;}
.ml20{margin-left:1.25rem !important;}

.mtb30{margin:1.875rem 0 !important;}

.pa0 {padding:0px !important;}
.pa4 {padding:0.25rem;}
.pa8 {padding:0.5rem;}
.pa16{padding:1rem;}
.pa20{padding:1.25rem;}
.pa24{padding:1.5rem;}
.pa32{padding:2rem;}
.pa36{padding:2.25rem;}
.pa40{padding:2.5rem;}
.pa44{padding:2.75rem;}
.pa50{padding:3.125rem;}


/*------------------------------------*\
  button
\*------------------------------------*/
.btn{position: relative;padding:12px 16px;display: inline-flex;justify-content: center;align-items: center;white-space:nowrap;text-align: center;vertical-align: middle;border: 0 solid transparent;border-radius:8px;transition:all .2s ease;}

.btn_ss{padding:4px 8px;font-size:.75rem ;border-radius:4px;}
.btn_s{padding:8px 16px;font-size:.875rem ;border-radius:4px;}
.btn_m{padding:12px 28px;}
.btn_l{padding:16px 32px;font-size:1.125rem;}
.btn_a {position: relative;padding:7px 10px;display: inline-flex;justify-content: center;align-items: center;white-space:nowrap;text-align: center;vertical-align: middle;border: 0 solid transparent;border-radius:8px;transition:all .2s ease;}

.icon_box{display:inline-flex;align-items: center;}
.ico{margin:0 2px;display: inline-flex;justify-content: center;align-items:center;}

.icon_box span + span,
.btn + .btn{margin-left:4px;}
.btn.btn_block{display:block;width:100%;}

/* 컬러 */
.green{color:#009651 !important;}
.mint{color:#008DB1 !important;}
.blue{color:#2259D5 !important;}
.blue_l{color:#003981 !important;}
.orange{color:#EE5B00 !important}
.orange_l{color:#ff4800 !important}
.red{color:#D23834 !important}
.red_l{color:#FB001E !important}
.bk{color:#111 !important}
.black_l{color: #2d2d2d;}


/* 배경 */
.bg_bk{background-color:#333 !important; color:#fff !important}
.bg_gray{background-color:#f8f8f8 !important;}
.bg_gray2{background-color:#eeeeee !important;}
.bg_disable{background-color:#eeeeee !important;color:#888  !important;}
.bg_lgray {background-color:#ededf0 !important;}
.bg_dgray{background-color:#2d3035 !important; color:#fff !important}
.bg_dgray2{background-color:#6a7184 !important; color:#fff !important}
.bg_green{background-color:#4caf50 !important;color:#fff !important}
.bg_blue{background-color:#0073EA !important;color:#fff !important}
.bg_lblue{background-color:#f6faff !important;}
.bg_mint{background-color:#008DB1 !important;color:#fff !important}
.bg_orange{background-color:#ff4800 !important;color:#fff !important}
.bg_red{background-color:#d10b13 !important;color:#fff !important}
.bg_lred{background-color:#fff5f6;}
.bg_pink{background-color:#d13d31 !important;color:#fff !important}
.bg_yellow{background-color:#ffde00 !important;}
.bg_w{background-color:#fff !important;}
.bg_w_bo{background-color:#fff !important;border:1px solid #ddd}
.bg_bk_bo{background-color:#fff !important;border:1px solid #333}
.bg_w_bl{background-color:#fff !important;border:1px solid #3a60c2;color:#3a60c2  !important;}
.bg_r_bo{background-color:#fff !important;border:1px solid #e91313;color:#e91313  !important;}

/* 상단으로 */
.loca_nav{position:fixed;right:40px;bottom:50px;z-index:108;display:none}
.loca_nav a{position:relative;display:block;color:#000;background:#fff;width:50px;height:50px;text-align:center;font-size:0px ;border:1px solid #eee;opacity:0.9;font-weight:500;border-radius:4px;}
.loca_nav a.top {padding-top:25px;}
.loca_nav a:before{content:'';position:absolute;top:20px;left:50%;width:8px;height:8px;display:inline-block;border:solid #000;border-width:2px 2px 0 0;transform:rotate(-45deg);vertical-align:middle;margin-left:-4px}
.loca_nav a.bottom{padding-top:12px;margin-top:5px;}
.loca_nav a.bottom:before{content:'';position:absolute;top:16px;left:50%;width:8px;height:8px;display:inline-block;border:solid #000;border-width:2px 2px 0 0;transform:rotate(135deg);vertical-align:middle;margin-left:-4px}
.loca_nav a:hover{background:#000;color:#fff;opacity:1}
.loca_nav a:hover:before{border-color:#fff}

/* IR */
.ir_pm {display: block;overflow: hidden;font-size: 0;line-height: 0;text-indent: -9999px;}

/* required */
.required {font-size: 0;width: 10px;position: relative;}
.required::after {content: '*';display: block;width: 10px;height: 10px;position: absolute;top: 0;left: 0;font-size: 30px;color: red;}

/* ico */
.ico_blank_b {margin-left: 5px;width: 18px;height: 18px;background: url(../images/ico_blank_b.png) no-repeat center;}
.ico_blank_w {margin-left: 5px;width: 18px;height: 18px;background: url(../images/ico_blank_w.png) no-repeat center;}

/* arrow,ico */
.ico_ir{background:url('../images/neo_ir.png') 0px 0px no-repeat;vertical-align:middle;}

/* 애니메이션 */
a{transition:all .3s ease; -webkit-transition:all .2s ease; -ms-transition:all .2s ease; -moz-transition:all .2s ease; -o-transition:all .2s ease;}

/* Animations */
.ani_box > *{transform: translateY(3rem);transition: all .4s ease-out;opacity:.0}
.action.ani_box > *{opacity:1;transform: translateY(0);}
.action.ani_box > *:nth-child(1){transition-delay:.1s}
.action.ani_box > *:nth-child(2){transition-delay:.2s}
.action.ani_box > *:nth-child(3){transition-delay:.3s}
.action.ani_box > *:nth-child(4){transition-delay:.4s}
.action.ani_box > *:nth-child(5){transition-delay:.55s}
.action.ani_box > *:nth-child(6){transition-delay:.6s}
.action.ani_box > *:nth-child(7){transition-delay:.65s}
.action.ani_box > *:nth-child(8){transition-delay:.7s}


@media print {
	body{-webkit-print-color-adjust: exact;font-size:9pt !important}
	h2, h3 {page-break-after: avoid;}
	img,table {max-width: 100% !important;width:100% !important;}
	#footer, #header, .titleWrap,#svisualLayout,.scl_x .notice{display:none !important}
	.scl_x{overflow-x:unset;margin:0;}
	.scl_x .table_01{width:100% !important;}
	table{margin-top:10px !important;}
    th, td {
		padding:6px !important;
        border: solid #ddd !important;
        border-width: 1px 0px 1px 0 !important;
    }
	th{border-right:1px solid #ddd !important;}
	#snb{margin-top:0 !important;margin-bottom:20px !important;}
	#content_wrap{padding:0;}
	#content_wrap .sub_tit{margin-bottom:20px !important;;font-size:1.567em !important;;}

}

