@charset "utf-8";

/* 공통 */
.sub_wrap {padding: 120px 0;}
.pg_tit {text-align: center;position: relative;}
.pg_tit::after {content: '';display: block;width: 1px;height: 40px;position: absolute;top: -60px;left: 50%;transform: translate(-50%);background-color: #dedede;}
.pg_tit.align_left{text-align: left}
.pg_tit.align_left::after {display: none;}
.pg_tit .typo {font-size:2.625rem;}
.pg_tit .tit_sub {font-size: 1.438rem;}
.sub_content .sec {padding-top: 120px;}
.sub_content .mid_tit {margin-bottom: 15px;}
.sub_content .mid_tit span {font-size: 2.063rem;font-weight: 400;position: relative;}
.sub_content .mid_tit span::after {content: '';display: block;width: 20px;height: 20px;border-radius:50%;position: absolute;top: 0;right: -10px;background-color: #bcd9ff;z-index: -1;}
.sub_content .shadow_box {box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 7px;}


/*NEO*/
.neo_about {margin-top: 30px;}
.neo_about .deco_img {width: 100%;height: 400px;position: relative;}
.neo_about .deco_img .img_box {width:calc((100vw - 1440px) /2 + (1440px - 3rem));height:400px;position: absolute;top: 0;right: 0;background-color: gold;}
.neo_about .sec01 {text-align: center;font-size: 1.25rem;padding-left:110px;padding-right: 110px;line-height: 1.4;}
.neo_about .sec02 .cont ul {display: flex;justify-content: space-between;}
.neo_about .sec02 .cont .shadow_box {width: calc((100% - 64px) /3);padding: 35px;border-radius: 10px;border: 1px solid #dcdcdc;font-size: 1.125rem;display: flex;justify-content: center;flex-wrap: wrap;align-items: center;}
.neo_about .sec02 .cont .shadow_box span {font-size: 0.938rem;width: 100%;text-align: center;margin-top: 3px;}
.neo_about .sec03 .in_box {width: 100%;justify-content: space-between;}
.neo_about .sec03 .logo_bg {width: calc(50% - 16px);background:linear-gradient(to right, #30949f, #0ea7de, #333679, #63a4b9, #4fa66e, #a2c774);}
.neo_about .sec03 .history_list {width: 50%;padding: 40px;}
.neo_about .sec03 .history_list > ul{position: relative;}
.neo_about .sec03 .history_list > ul::after {content: '';display: block;width: 1px;height: 75%;position: absolute;top: 10px;left: -3px;background: gold;z-index: -1;}
.neo_about .sec03 .history_list > ul > li {position: relative;padding-left: 10px;margin-bottom: 30px;}
.neo_about .sec03 .history_list > ul > li::after {content: '';display: block;width: 8px;height: 8px;border: 4px solid #b0b0b0;border-radius: 50%;position: absolute;top: 0;left: -10px;background: #fff;}
.neo_about .sec03 .history_list > ul > li.lately::after {border-color: #ff4800;}
.neo_about .sec03 .history_list > ul > li:last-child {margin-bottom: 0;}
.neo_about .sec03 .history_list .year {font-size: 1.375rem;font-weight: 400;margin-bottom: 10px;}
.neo_about .sec03 .history_list .detail li {display: flex;padding-left: 17px;margin-bottom: 5px;}
.neo_about .sec03 .history_list .detail .date {width: 11%;}
.neo_about .sec04 .cnp_list {display: flex;flex-wrap: wrap;}
.neo_about .sec04 .cnp_list li {width: 20%;padding: 20px;}
.neo_about .sec04 .cnp_list li a {width: 100%;height: 45px;text-align: center;}

/*Vision*/
.vision .sec01 {padding: 120px 0 0;}
.vision .sec02, .vision .sec03 {padding-top: 50px;}
.vision .dp_flex {width: 100%;}
.vision .dp_flex .left_area {width: 20%;}
.vision .subj_tit {text-align: left;}
.vision .subj_tit span {font-size: 1.75rem;}
.vision .dp_flex .right_area {width: 80%;}
.vision .con_box {width: 80%; text-align: center;margin: 0 auto;padding: 20px 0;}
.vision .sec01 .con_box {background: #1a72e7;border-radius: 10px;color: #fff;}
.vision .sec02 .con_box {border:1px solid #1a72e7; border-radius: 10px;font-size: 1.125rem;}
.vision .sec03 .con_box {position: relative;padding: 0;}
.vision .sec03 .con_box ul {flex-wrap: wrap;}
.vision .sec03 .con_box li {width: calc(50% - 8px);margin-bottom: 16px;border: 1px solid #1a72e7;padding: 32px;border-radius: 10px;}
.vision .sec03 .con_box li:nth-child(3) {margin-bottom: 0;}
.vision .sec03 .con_box li:nth-child(4) {margin-bottom: 0;}
.vision .sec03 .con_box li .tit {font-size: 1.125rem;}
.vision .sec03 .con_box li .text {margin-top: 20px;position: relative;font-size: 0.938rem;}
.vision .sec03 .con_box li .text::after {content: '';display: block;width: 40px;height: 1px;background-color: #bababa;position: absolute;top: -13px;left: 50%;transform: translate(-50%);}
.vision .sec03 .con_box .logo_box {width: 110px;height: 110px;border: 1px solid #1a72e7;border-radius: 50%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background: #fff;}

/* direction */
.direction .sec01 {width: 100%;position: relative;padding: 0;margin-top: 50px;}
.neo_map {width: 100% !important;}
.neo_map button {height: 30px;}
.neo_map.root_daum_roughmap .wrap_btn_zoom .btn_zoom_reset {margin-top: 9px;}
.direction .map_info_box {position: absolute;top: 50%;margin-top: -200px;left: 2rem;padding: 16px;background: #fff;border-radius: 14px;z-index: 2;border: 1px solid #121212;}
.direction .map_info_box .in_box {padding: 24px 24px 48px;}
.direction .map_info_box .in_box .heading_5 {padding-bottom: 24px;}
.direction .map_info_box .in_box .tit_list li + li {margin-top: 16px;}
.direction .map_info_box .btn {min-width: 168px;}
.direction .map_info_box .bg_w {border: 1px solid #000;}
.direction .map_info_box .btn > * {font-weight: 300;}





/*business*/
.business_part .sec01 {padding: 120px 0;background: #f7f9ff;margin-top: 50px;}
.business_part .intro {font-size: 1.25rem;text-align: center;padding: 0 200px;}
.business_part .service_box ul {position: relative;margin-top: 100px;display: flex;justify-content: center;}
.business_part .service_box ul li {width: 310px;height: 310px;border-radius: 50%;display: flex;align-items: center;justify-content: center;font-size: 1.125rem;text-align: center;margin-left: -50px;}
.business_part .service_box ul li.border_dot {border: 1px dashed #000;}
.business_part .service_box ul li:nth-child(1) {background: #1367c7;color: #fff;margin-left: 0;}
.business_part .service_box ul li:nth-child(2) {left: 260px;}
.business_part .service_box ul li:nth-child(3) {background: #2f508a;color: #fff;}
.business_part .service_box ul li:nth-child(4) {left: 780px;}
.business_part .service_box ul li:nth-child(5) {background: #4d8897;color: #fff;}
.business_part .service_box ul li p span {font-size: 0.75rem;}
.business_part .process_list {flex-wrap: wrap;justify-content: space-between;}
.business_part .process_list li {width: calc(25% - 32px);border: 1px solid #dddddd;position: relative;padding: 65px 0 45px;text-align: center;margin-bottom: 40px;}
.business_part .process_list li .num {width: 28px;height: 28px;line-height: 28px;text-align: center; border-radius: 50%;color: #fff;background: #1367c7;font-size: 0.875rem;position: absolute;top: 20px;left: 20px;}
.business_part .process_list li .ico {width: 80px;height: 80px;border-radius: 50%;margin: 0 auto;box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.1);}
.business_part .process_list li .text {font-size: 1.125rem;margin-top: 25px;}
.business_part .process_list li .text span {font-size: 0.875rem;color: #727272;display: block;}
.business_part .process_list li:nth-child(5) {order: 8;}
.business_part .process_list li:nth-child(6) {order: 7;}
.business_part .process_list li:nth-child(7) {order: 6;}
.business_part .process_list li:nth-child(8) {order: 5;}


/* contact_box */
.contact_link_box {width: 100%;padding: 175px 0 45px;border-radius: 10px;box-shadow: 6px 5px 20.16px 7.84px rgba(0, 0, 0, 0.04);margin-top: 120px;text-align: center;position: relative;}
.contact_link_box .fb2 {font-size: 1.438rem;}
.contact_link_box .black_l {margin: 20px 0 35px;}
.contact_link_box .btn_box a {padding: 15px 40px 15px 20px;background: #1367c7;color: #fff;border-radius: 5px;}




