@charset "utf-8";

/* 기본 레이아웃 */
.wrapper{width:100%;overflow:hidden}
.inner{position:relative;width:1400px;padding-right:1.25rem;padding-left:1.25rem; margin:0 auto; box-sizing:border-box}


/* header */
#header{position: absolute;top: 0;left: 0;width: 100%;height: 120px;z-index: 100;}
.logo_box {height: 120px;position: absolute;top: 0;left: 0;z-index: 90;}
.logo_box a {height: 100%;display: inline-flex;align-items: center;}


/* header */
#header{overflow:visible; position:fixed; top:0; left:0; width:100%; height:92px;z-index:148;box-sizing:border-box;transition:all .5s ease-in-out;border-bottom:1px solid #ededed;}
/* main_header */
#header.main_header{color:#fff;border-bottom:1px solid transparent;}
#header.main_header .logo_box .symbol{background:url('../images/logo_w.png') no-repeat 0 center;}
#header.main_header .gnb_r .screen_unit ul{border:1px solid #fff;}
#header.main_header .gnb_r > li:not(:first-child):before {background:rgba(255,255,255,.1);}
#header.main_header #gnb > ul {background: transparent;}
#header.main_header #gnb > ul > li > a:hover{color:#fff;}
#header.main_header #gnb > ul > li > a:before{content:'';position:absolute;bottom:-2px;left:0;width:0%;height:3px;transition:all .5s ease-in-out;}
#header.main_header #gnb > ul > li > a:hover:before{width:100%;background:#ffc51b;}
#header.main_header .gnb_r > li a {width: 100%;height: 100%;display: inline-flex;align-items: center;text-align: center;justify-content: center;border:1px solid #fff;border-radius: 50%;}
#header.main_header .gnb_r > li a.log_in .ico_ir {background-position: -22px -20px;}
#header.main_header .gnb_r > li a.log_out .ico_ir {background-position: -59px -20px;}
#header.main_header .gnb_r > li a.site_map .ico_ir {background-position: -97px -20px;}


#header .logo_box {height:92px;position:absolute;top:0;left:50px;z-index:90;display:inline-block;}
#header .logo_box a{height:100%;display:inline-flex;align-items: center;}
#header .logo_box .symbol{height:50px;width:240px;display:inline-flex;align-items: center;background:url('../images/logo_c.png') no-repeat 0 center;}

#header .gnb_r{position:absolute;top:-65px;right:50px;z-index:90;}
#header .gnb_r > li{position:relative;display:inline-block;width: 40px;height: 40px;overflow: hidden;}
#header .gnb_r > li:not(:first-child){margin-left:12px;}
#header .gnb_r > li a {width: 100%;height: 100%;display: inline-flex;align-items: center;text-align: center;justify-content: center;border:1px solid #000;border-radius: 50%;}
#header .gnb_r > li a.help_desk {background: #ffc51b;color: #0b3c7e;font-weight: 700;font-size: 1.125rem;border:none;}
#header .gnb_r > li a .ico_ir {width: 20px;height: 20px;background-repeat: no-repeat;background-image: url(../images/neo_ir.png);}
#header .gnb_r > li a.log_in .ico_ir {background-position: -22px -50px;}
#header .gnb_r > li a.log_out .ico_ir {background-position: -59px -50px;}
#header .gnb_r > li a.site_map .ico_ir {background-position: -97px -50px;}



/* gnb */
#gnb{width:100%;position:relative;z-index:50;}
#gnb > ul{margin:0 auto;text-align:center;background: #fff;}
#gnb > ul > li{display:inline-block;}
#gnb > ul > li > a{position:relative;display:block;padding:32px 24px 32px;font-size:1.313rem;font-weight:700;}
#gnb > ul > li > a:before{content:'';position:absolute;bottom:-2px;left:0;width:0%;height:3px;transition:all .5s ease-in-out;}
#gnb > ul > li > a:hover{color:#0073e6;}
#gnb > ul > li > a:hover:before{width:100%;background:#0073e6;}
#gnb > ul > li > a.active:before{width:100%;background:#044ba9 ;z-index:5;}
#gnb > ul > li > a.active{color:#044ba9 ;}

/* header on*/
#header.on,
#header.main_header.fixed{color:#242424;background:#fff;}
#header.on .logo_box .symbol,
#header.main_header.fixed .logo_box .symbol{background:url('../images/logo_c.png') no-repeat 0 center;}
#header.fixed{top:0px;width:100% !important;z-index: 500;box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);animation:fadein .5s;background:rgba(255,255,255,.98);}
#header.fixed .gnb_r > li a{border-color: #000;}
#header.main_header.fixed #gnb > ul > li > a:hover{color:#0073e6;}
#header.main_header.fixed #gnb > ul > li > a:hover:before{width:100%;background:#0073e6;}
#header.fixed  .gnb_r > li a.log_in .ico_ir {background-position: -22px -50px;}
#header.fixed  .gnb_r > li a.log_out .ico_ir {background-position: -59px -50px;}
#header.fixed  .gnb_r > li a.site_map .ico_ir {background-position: -97px -50px;}

/* mobile_menu */
#mMenu{display:none;position:absolute;top:24px;right:.5rem;width:60px;height:60px;box-sizing:border-box;color:#fff;}
#mMenu{width: 40px;height: 40px;align-items: center;text-align: center;justify-content: center;border: 1px solid #fff;border-radius: 50%;line-height: 37px;}
#mMenu .ico_ir {width: 20px;height: 20px;background-repeat: no-repeat;background-image: url(../images/neo_ir.png);background-position: -97px -20px;}
/* #mMenu span{display:block;width:30px;height:3px;margin:0 auto 6px;background:#121212;}
#mMenu span:first-child{margin-top:20px;}
#mMenu span:last-child{margin-bottom:0;} */
/* #header.main_header #mMenu span{background:#fff;} */
/* #header.main_header.fixed #mMenu span{background:#121212;} */
#header.main_header.fixed #mMenu {border-color: #121212;}
#header.main_header.fixed #mMenu .ico_ir {background-position: -97px -50px;}
#mGnb{display:none;position:fixed;top:0;right:-100%;z-index:600;width:100%;height:100%;overflow-y:scroll;background:#fff;box-shadow:-4px -1px 2px rgba(0,0,0,0.1);color:#121212;z-index:999;}
#mGnb:before{content:'';position:absolute;top:160px;left:0;height:100%;width:calc((100% - 16px) * 0.3);background:#F5F7FA;z-index:0}
#mGnb .mgnb_top {position:relative;padding:12px;border-bottom:1px solid #a8b2be;background:#fff;}
#mGnb .mgnb_top .t_abox{display:flex;justify-content: space-between;padding:8px 8px 12px 8px;align-items:center;}
#mGnb .mgnb_top .t_abox .ta_l span{padding-left:32px;font-size:1.125rem;}
#mGnb .mgnb_top .t_abox .ta_r a{margin-left:8px;color:#162C72;font-weight:700;font-size:.875rem;}
#mGnb .mgnb_top .t_abox .ta_r .a_lang{padding:8px 12px;border:2px solid #162C72;border-radius:4px;}
#mGnb .mgnb_top .t_box{margin:12px 0 20px;padding:16px;line-height:1.5rem;background:#F1F5F9;border-radius:8px;}
#mGnb .mgnb_top .t_box .in_box{display:flex;align-items:center;color:#121212;}
#mGnb .mgnb_top .t_box .in_box .ico{margin-right:8px;width:48px;height:48px;background:url('/_KOR/img/mgnb_logo.svg') no-repeat 50% 50% #fff;border:1px solid #E5E7EB;border-radius:50%;}

#mGnb #head_menu{position:relative;padding-top:24px;}
#mGnb .mDepth1{position:relative;box-sizing:border-box;}
#mGnb .mDepth1 > li{width:35%;padding-left:16px;}
#mGnb .mDepth1 > li > a{display:block;padding:14px 10px;font-size:1.15em;font-weight:bold;z-index:50;text-align:left;border-bottom:1px solid rgba(255,255,255,.5);border-radius:8px;}
#mGnb .mDepth1 > li > a.active{background:#162C72;color:#fff}
#mGnb .mDepth2{display:none;position:absolute;top:0;right:0;width:calc((100% - 48px) * 0.65);margin:32px 24px 0;z-index:30;background:#fff;}
#mGnb .mDepth2 > li > a{display:block;padding:15px 10px;border-bottom:1px solid #e5e5e5;font-size:1em;color:#333;background:url('/_KOR/img/m_gnb_r.png') no-repeat 96% center/9px auto;}
#mGnb .mDepth2 > li > a[href="#none"]{background:url('/_KOR/img/m_gnb_plus.png') no-repeat 96% center/15px auto;}
#mGnb .mDepth2 > li > a[href="#none"].active{background:url('/_KOR/img/m_gnb_minus.png') no-repeat 96% center/15px auto;}
#mGnb .mDepth1 > li:first-child .mDepth2{display:block;}
#mGnb .mDepth3{display:none;padding:10px;overflow:hidden;background:#f5f6fa;}
#mGnb .mDepth3 li{float:left;width:100%;transition: all 300ms ease-out;transform: translateY(120%);transition-delay: 300ms;opacity:0;}
#mGnb .mDepth3 li.active{transform: translateX(0);opacity:1;}
#mGnb .mDepth3 li.active:nth-child(odd){transition-delay: 100ms;}
#mGnb .mDepth3 li.active:nth-child(even){transition-delay: 200ms;}
#mGnb .mDepth3 li a{position:relative;display:block;margin-bottom:1px;padding:10px;background:#f5f6fa;border-bottom:1px solid #eee;font-size:.9em}
#mGnb .mDepth3 li a:before{content:'';position:absolute;left:0;top:18px;display:block;width:4px;height:1px;background:#a7adbc}
#mGnb .mGnbClose{display:inline-block;position:absolute;left:12px;top:20px;width:32px;height:32px;font-size:0;background:url('/_KOR/img/m_gnb_close.svg') no-repeat 50% 50%;}
#mGnb .mn_close {position: relative;display: inline-block;width: 28px;height: 28px;overflow: hidden;}
#mGnb .mn_close:before{-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
#mGnb .mn_close:after{-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}

.slick-controls{z-index:10;}
.slick-nav a{font-size:0;z-index:40;transition:all .2s ease-in-out;}
.slick-nav a{background:url('../images/neo_ir.png') no-repeat;}
.slick-nav a.slick-play{display:none;}

/*footer*/
#footer {border-top: 2px solid #ddd;padding: 40px 0;}
#footer ul.add_bar li {padding-right: 16px;margin-right: 16px;position: relative;}
#footer ul.add_bar li:not(:last-child)::after {content: '';display: block;width: 1px;height: 10px;background: #b7b7b7;position: absolute;top: 3px;right: 0;}
#footer ul.add_bar li a:hover {color: #044ba9;}
.f_mid {margin: 16px 0 32px;}
.f_mid .in_box {justify-content: space-between;font-size: 0.938rem;}
.f_mid .num_box {text-align: right;}
.f_bot .in_box {justify-content: space-between;}
.f_bot .related_site > a{display:inline-flex;position:relative;border:1px solid #91949b;padding:16px 20px;color:#515151;width:100%;border-radius:8px;font-weight: 300;width: 190px;align-items: center;justify-content: space-between;}
.f_bot .related_site > a:hover{border:1px solid #474747;opacity:1;}
.f_bot .related_site a:hover,.foot_r .related_site a:focus,.foot_r .ft_l li:hover,.foot_r .ft_l li a:focus{opacity:1;}
.f_bot .related_site a span{width:24px;height:24px;}
.f_bot .related_site.cur a span{transform:rotate(-180deg)}
.f_bot .related_site ul{display:none;position:absolute;bottom:65px;right:0;width:190px;max-height:150px;overflow-x:hidden;overflow-y:auto;padding:13px 12px;background: #fff;border:1px solid #ddd;z-index:5;border-radius:8px;}
.f_bot .related_site ul > li {width:100%;border:0 !important}
.f_bot .related_site ul > li a{width:100%;word-break:normal;padding:5px;color:#333;font-size:15px}



/*sub*/
#sub {padding-top: 130px;}
.snb_bar {width: 100%;background: #f7f7f7;border-top: 1px solid #e6e6e6;}
.snb_bar .snb {display: flex;justify-content: center;align-items: center;}
.snb_bar .snb li {margin: 0 20px;position: relative;}
.snb_bar .snb li::after {content: '';display: block;width: 5px;height: 5px;background-color: #c3d8fe;transform: rotateZ(45deg);position: absolute;top: 17px;right: -23px;}
.snb_bar .snb li:first-child {margin-left: 0;}
.snb_bar .snb li:last-child {margin-right: 0;}
.snb_bar .snb li:last-child::after {display: none;}
.snb_bar .snb li a {width: 100%;padding: 10px 20px 7px;font-size:1.125rem;}
.snb_bar .snb li a span {position: relative;}
.snb_bar .snb li a.active span::after {content: '';display: block;width: 0px;height: 0px;border-bottom: calc( 4px * 1.732 ) solid #1367c7;border-left: 4px solid transparent;border-right: 4px solid transparent;position: absolute;bottom: -7px;left: 50%;transform: translateX(-50%);}
.snb_bar .snb li a:hover span::after {content: '';display: block;width: 0px;height: 0px;border-bottom: calc( 4px * 1.732 ) solid #1367c7;border-left: 4px solid transparent;border-right: 4px solid transparent;position: absolute;bottom: -7px;left: 50%;transform: translateX(-50%);}
