@charset "utf-8";

/* 기본 레이아웃 */
.wrapper{width:100%;overflow:hidden}
.inner{position:relative;width:1400px;padding-right:1.25rem;padding-left:1.25rem; margin:0 auto; box-sizing:border-box}


/* header */
#header{position: absolute;top: 0;left: 0;width: 100%;height: 120px;z-index: 100;}
.logo_box {height: 120px;position: absolute;top: 0;left: 0;z-index: 90;}
.logo_box a {height: 100%;display: inline-flex;align-items: center;}

/* gnb */
#gnb {width: 100%;position: relative;z-index: 50;}
#gnb > ul {margin: 0 auto;text-align: center;}
#gnb > ul > li {display: inline-block;}
#gnb > ul > .depth1 > a {position: relative;display: block;padding: 47px 20px 47px;font-size: 1.313rem;font-weight: 600;}

/* gnb_r */
.gnb_r {position: absolute;top: -80px;right: 0;z-index: 10;}
.gnb_r .ext_menu {display: flex;}
.gnb_r .ext_menu li {width: 40px;height: 40px;border-radius: 50%;margin-right: 20px;border: 1px solid #fff;overflow: hidden;}
.gnb_r .ext_menu li a {width: 100%;height: 100%;}
.gnb_r .ext_menu .help_desk {background-color: #FFC600;}


/* mGnb */
#mMenu {display: none;}
#mGnb {display: none;}

/* mobile_menu */
#header #mMenu{display:none;position:absolute;top:0px;right:0;width:65px;height:65px;padding-top:25px;box-sizing:border-box;z-index:115;}
#header #mMenu span{display:block;width:30px;height:3px;margin:0 auto 6px;background:#444;}
#header #mMenu span:last-child{margin-bottom:0;}
#mGnb{display:none;position:fixed;top:0;right:-90%;width:90%;height:100%;overflow-y:scroll;background:#fff;color:#111;box-shadow:-4px -1px 2px rgba(0,0,0,0.1);z-index:160;}
#mGnb .mgnb_top{background:#00a0c9;border-bottom:10px solid #ededed;color:#fff;}
#mGnb .mgnb_top .t_abox{padding:0px 20px;font-size:.875em;border-bottom:1px solid rgba(255,255,255,.5);height:48px;line-height:48px;}
#mGnb .mgnb_top .t_abox a{position:relative;padding-right:10px;margin-right:10px}
#mGnb .mgnb_top .t_abox a:before{content:'';position:absolute;right:0;top:19px;width:1px;height:10px;background:#ddd;}
#mGnb .mgnb_top .t_abox a:last-child:before{display:none}
#mGnb .mgnb_top .t_box{position:relative;padding:2.25rem 2rem 1.25rem;}
#mGnb .mgnb_top .t_box p{font-size:1.25em;font-weight:500;line-height:1.5}
#mGnb .mgnb_top .t_box a{position:absolute;right:20px;bottom:20px;border:1px solid #ddd;padding:4px 10px;font-size:.8em;opacity:.8}
#mGnb .mgnb_top .m_gnb_btns{padding:0 2rem 2.25rem;}
#mGnb .mgnb_top .m_gnb_btns a{padding:1rem 1.5rem;width:49.5%;border-radius:4px;box-shadow: 6px 8px 10px 2px rgba(0, 0, 0, 0.1);}
#mGnb .mDepth1{box-sizing:border-box;background:#fff;border-top:1px solid #eee;padding:20px;border-bottom:10px solid #ededed;}
#mGnb .mDepth1 > li > a{position:relative;display:block;padding:1.15rem;font-size:1.25rem;border-bottom:1px solid #ddd;font-weight:700;}
#mGnb .mDepth1 > li > a:before{content:'';display:block;position:absolute;right:5%;top:50%;width:13px;height:13px;margin-top:-4px;background:url('../img/mgnb_arrow1.png') no-repeat 0 0;opacity:.7}
#mGnb .mDepth1 > li > a.active:before{background:url('../img/mgnb_arrow2.png') no-repeat 0 0;}
#mGnb .mDepth2{display:none;overflow:hidden;}
#mGnb .mDepth1 > li:last-child .mDepth2{margin-bottom:0;}
#mGnb .mDepth2 > li > a{display:block;padding:.875rem 1.125rem;padding-right:10%;border-bottom:1px solid #e5e5e5;font-size:1rem;color:#555;background:url('../img/mgnb_arrow5.png') no-repeat 95% 50% #fafafa;}
#mGnb .mDepth2 > li > a.plus{background:url('../img/mgnb_arrow3.png') no-repeat 95% 50% #fafafa;}
#mGnb .mDepth2 > li > a.plus.active{background:url('../img/mgnb_arrow4.png') no-repeat 95% 50% #fafafa;}
#mGnb .mDepth3{display:none;overflow:hidden;padding:20px;background:#eee;}
#mGnb .mDepth3 li{
	float:left;width:100%;
    -webkit-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-transform: translateY(120%);
    -ms-transform: translateY(120%);
    transform: translateY(120%);
    -webkit-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    transition-delay: 300ms;
	opacity:0;
}
#mGnb .mDepth3 li.active{
	-webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateX(0);
    opacity:1;
}

#mGnb .mDepth3 li.active:nth-child(2){
	-webkit-transition-delay: 400ms;
    -ms-transition-delay: 400ms;
    transition-delay: 400ms;
}

#mGnb .mDepth3 li.active:nth-child(3){
	-webkit-transition-delay: 600ms;
    -ms-transition-delay: 600ms;
    transition-delay: 600ms;
}
#mGnb .mDepth3 li a{display:block;margin-bottom:1px;padding:15px 20px;padding-right:18%;font-size:.9em;background:url('../img/mgnb_arrow5.png') no-repeat 95% 50% #fff}

#mGnb .mGnbClose{display:inline-block;position:absolute;top:0px;right:0px;width:40px;height:40px;font-size:0;background:rgba(0,0,0,.5);text-align:center;padding-top:7px;}
#mGnb .mn_close {position: relative;display: inline-block;width: 24px;height: 24px;overflow: hidden;opacity:.8}
#mGnb .mn_close:hover:before,#mGnb .mn_close:hover:after{background: #0000c8;}
#mGnb .mn_close:before,#mGnb .mn_close:after{content:'';position:absolute;height:2px;width:100%;top:50%; left:0; margin-top:-1px;background:#fff;border-radius:4px}
#mGnb .mn_close:before{-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
#mGnb .mn_close:after{-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
#dimed{display:none;position:fixed;top:0;left:0;width:100%;height:100%;    background: rgba(0,0,0,0.5);    -webkit-backdrop-filter: saturate(180%) blur(4px);    backdrop-filter: saturate(180%) blur(4px);z-index:109;}