@charset "utf-8";

/* 공통 */
.main_sec {position: relative;}
.main_sec:not(.main_sec05):after {content: '';display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: #f6faff;z-index: -2;}
.sec_tit_wrap .sec_tit {font-size: 2.5rem;}
.sec_tit_wrap .sec_tit span {position: relative;}
.sec_tit_wrap .sec_tit span::after {content: '';display: block;width: 20px;height: 20px;border-radius:50%;position: absolute;top: 0;right: -10px;background-color: #bcd9ff;z-index: -1;}
.sec_tit_wrap .tit_s {font-size: 1.25rem;}
.sec_cont_wrap {margin-top: 60px;}

/* main visual */
.main_sec01 .visual_wrap {width: 100%;height: 946px;overflow: hidden;}
.main_v_sd .item {width: 100%;height: 100%;}
.main_v_sd .item .text_box {color: #fff;padding-top: 500px;}
.main_v_sd .item .text_box .cont {font-size:1.125rem}
.main_v_sd .item01 .text_box .sd_tit {font-size: 3.75rem;}



/* main_sec02 */
.main_sec02 {padding:120px 0 140px;}
.main_sec02 .sec_tit_wrap {text-align: center;}
.bus_list {display: flex;margin: 0 -16px;}
.bus_list .list_item {width: 20%;height: 400px;padding: 0 16px;}
/* .bus_list .list_item a {padding: 0 16px;transform: skewY;} */
/* .bus_list .list_item a {width: 100%;height: 100%; transform:skewY(-0.03turn);transform-origin: bottom right; background: gold;position: relative;} */
.bus_list .list_item a {width: 100%;height: 100%; transform:skewY(-0.03turn); background: gold;position: relative;}
/* .bus_list .list_item a {padding: 0 16px; transform: rotateY(45deg);height: 100%;background: gold;} */
.bus_list .list_item a:hover {transform:skewY(0);}
.bus_list .list_item a .in_box {position: absolute;bottom: 30px;transition: all .3s;width: 100%;padding: 0 16px;}
.bus_list .list_item a .in_box .cont {display: none;}
.bus_list .list_item .bus_tit {font-size: 1.438rem;position: relative;}
.bus_list .list_item .bus_tit::after {content: '';display: block;width: 100%;height: 1px;background: #fff;position: absolute;bottom: -7px;left: 0;transition: all .3s;opacity: 0;}
.bus_list .list_item .cont {margin-top: 20px;}
.bus_list .list_item a:hover .in_box {bottom:20px;}
.bus_list .list_item a:hover .in_box .cont {display: block;}
.bus_list .list_item a:hover .bus_tit::after {opacity: 1;}

/* main_sec03 */
.main_sec03 {padding-bottom: 120px;}
.main_sec03 .work_cont_wrap {position: relative;left: 50%;margin-left: -680px;overflow: hidden;width: 100%;}
.main_sec03 .work_sd {width: 1819px;}
.main_sec03 .work_sd .item {width: 366px;height: 350px;padding-right: 16px;float: left;}
.main_sec03 .work_sd .item a {width: 100%;height: 100%;position: relative;overflow: hidden;border: 1px solid #ddd;}
.main_sec03 .work_sd .item a .img_box {width: 100%;height: 100%;}
.main_sec03 .work_sd .item a .text_box {position: absolute;bottom: 0;left: 0;padding: 32px;}
.main_sec03 .work_sd .item a .text_box .part {margin-bottom: 7px;}

.work_sd .slick-dots {margin-top: 20px;}
.work_sd .slick-dots button {width: 235px;height: 4px;background-color: #ddd;padding: 2px;border: none;border-radius: 0;transition: all .3s;}
.work_sd .slick-dots .slick-active button {background: #000;}

.main_sec03 .btn {text-align: center;margin-top: 50px;width: 100%;}
.main_sec03 .btn a {padding: 10px 25px;background: #eaeaea;text-align: center;border-radius: 30px;font-size: 1.125rem;font-weight: 300;}

/* main_sec04 */
.main_sec04 .area_wrap {display: flex;}
.main_sec04 .left_area {padding: 50px 50px 50px 0;height: 415px; background-color: #1a72e7;width: 65%;position: relative;}
.main_sec04 .left_area::after {content: '';display: block;width: 300%;height: 100%;background-color: #1a72e7;position: absolute;left: -300%;top: 0;}
.main_sec04 .left_area .sec_tit {color: #fff;}
.main_sec04 .board_tabs {position: absolute;top: 65px;left: 0;width: 100%;padding-left: 140px;}
.main_sec04 .board_tabs > li {display: inline-block;}
.main_sec04 .board_tabs .tab_link {display: block;font-size: 1.25rem;color: #fff;margin-right: 15px;text-align: center;}
.main_sec04 .board_tabs .tab_link.active {position: relative;}
.main_sec04 .board_tabs .tab_link.active::after {content: '';display: block;width: 9px;height: 9px;border-radius: 50%;background: #ffd451;position: absolute;top: -15px;left: 50%;transform: translateX(-50%);}
.main_sec04 .board_tabs .tab_cont {display: none;width: 100%;position: absolute;left: 0px;top: 50px;text-align: left;}
.main_sec04 .board_tabs .more_btn_w {display: none; position: absolute;top:4px;right: 50px;color: #fff;}
.main_sec04 .board_tabs > li:first-child > .tab_cont, .board_tabs > li:first-child > .more_btn_w {display: block;}
.main_sec04 .board_tabs .tab_sd {margin: 0 -16px;padding-right: 50px;}
.main_sec04 .board_tabs .tab_sd .item {padding: 0 16px;}
.main_sec04 .board_tabs .tab_sd .in_box {width: 100%;height: 210px;border-radius: 7px;background: #fff;padding: 32px;position: relative;}
.main_sec04 .board_tabs .tab_sd .in_box > div:not(.new) {width: 100%;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.main_sec04 .board_tabs .tab_sd .tit {font-size: 1.125rem;font-weight: 400;min-height: 44px;}
.main_sec04 .board_tabs .tab_sd .cont {margin: 1rem 0 2rem;min-height: 39px;}
.main_sec04 .board_tabs .tab_sd .date {font-size: 0.875rem;color: #979797;}
.main_sec04 .board_tabs .tab_sd .new {width: 20px;height: 20px;text-align: center;color: red;border:2px solid red;border-radius: 50%;font-size: 0.75rem;font-weight: 400;line-height: 19px;position: absolute;top: 10px;right: 10px;}
.main_sec04 .right_area {padding: 50px 0 39px 50px;width: 35%;}
.main_sec04 .right_area .tit_box {margin-top: 17px;background: #ffd451;font-size: 1.438rem;display: flex;align-items: center;padding: 20px 30px 15px;}
.main_sec04 .right_area .contact_info {margin-top: 30px;}
.main_sec04 .right_area .contact_info ul > li {display: flex;padding:15px 0; align-items: center;}
.main_sec04 .right_area .contact_info ul > li:nth-child(2) {border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.main_sec04 .right_area .contact_info ul > li:nth-child(3) {align-items: baseline;}
.main_sec04 .right_area .contact_info .info_tit {width: 90px;font-weight: 400;}
.main_sec04 .right_area .contact_info .info_cont {width: calc(100% - 90px);}

/* main_sec05 */
.main_sec05 {padding: 120px 0 60px;text-align: center;}
.cnp_loop_wrap {overflow: hidden;position: relative;width: 100%;height: 95px;box-sizing: border-box;margin-top: 30px;}
.loop_box {width: 4125px;display: flex;height: 100%;flex-wrap: nowrap;animation: bannermove 40s linear infinite;}
.loop_box > div {margin: 0 -1px 0 0;width: 275px;}
.loop_box .item a {width: 100%;height: 100%;display: inline-flex;align-items: center;background-color: gold;}

/* aside */
.aside {background: #fafafa;}
.aside ul > li {display: flex;align-items: center;font-size: 0.875rem;font-weight: 300;}



@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}